<layout name="layout"/>
<div style="padding: 20px;">
    <form class="layui-form" method="post" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-inline">
                <input type="text" name="g_name" lay-verify="required" placeholder="请输入标题" value="{$data.g_name}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择分类</label>
            <div class="layui-input-inline">
                <select name="g_column" id="culm" lay-filter="sort">
                    <option value="{$data.g_column}">{$data.g_column}</option>
                    <volist name="one" id="vo">
                        <option value="{$vo.name}" data-id="{$vo.id}" >{$vo.name}</option>
                    </volist>

                </select>


            </div>
            <div class="layui-input-inline">
                <select name="g_columr" class="two-sort" lay-filter="two-sort">
                    <option value="{$data.g_columr}">{$data.g_columr}</option>
                </select>
            </div>


        </div>
        <div class="layui-form-item" id="addiv">
            <volist name="set" id="vo">
                <div class="layui-form-item">
                    <label class="layui-form-label">{$vo.set_name}</label>
                    <div class="layui-input-inline">
                        <input type="hidden" name="set_name[]" value="{$vo.set_name}">
                        <input type="text" name="set[]" placeholder="请输入" value="{$vo.value}" class="layui-input" required>
                    </div>
                </div>
            </volist>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品价格</label>
            <div class="layui-input-inline">
                <input type="text" name="g_price" lay-verify="required" placeholder="请输入替换内容" value="{$data.g_price}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">折后价格</label>
            <div class="layui-input-inline">
                <input type="text" name="g_price_r" lay-verify="required" placeholder="请输入替换内容"
                       value="{$data.g_price_r}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品材质</label>
            <div class="layui-input-inline">
                <input type="text" name="g_material" lay-verify="required" placeholder="请输入替换内容"
                       value="{$data.g_material}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品排序</label>
            <div class="layui-input-inline">
                <input type="text" name="order" value="{$data.order}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">推荐Banner</label>
            <div class="layui-input-block">
                <input name="banner" value="1" title="是" type="radio">
                <input name="banner" value="2" title="否" checked="" type="radio">
            </div>
            <div class="layui-col-md2" style="display: none;">
                <img src="" id="img-upload-c" alt="" class="screen-img">
                <input type="hidden" name="banner" id="input-form-c">
            </div>


        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">推荐首页</label>
            <div class="layui-input-block">
                <input name="is_index" value="1" title="是" type="radio">
                <input name="is_index" value="2" title="否" checked="" type="radio">
            </div>


        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品图</label>
            <div class="layui-col-md2">
                <img src="{$data.g_img}" id="img-upload-b" alt="" class="screen-img" required>
                <input type="hidden" name="g_img" id="input-form-b">
            </div>
        </div>
        <div class="screen_box">
                <volist name="screen" id="vo">
                    <div class="layui-form-item screen_box_t">
                        <label class="layui-form-label">规格</label>
                        <div class="layui-block">
                            <div class="layui-col-md2">
                                <img src="{$vo.img}" id="img-upload-{$key+1}" alt="" class="screen-img" required>
                                <input type="hidden" name="img[]" value="{$vo.img}" id="input-form-{$key+1}">
                            </div>
                            <div class="layui-input-inline gg">
                                <input name="size[]" placeholder="例80*80-黄-风格" value="{$vo.size}" autocomplete="off"
                                       class="layui-input" required value="{$vo.size}" type="text">
                            </div>
                            <div class="layui-input-inline gg">
                                <input name="stock[]" placeholder="库存" autocomplete="off" value="{$vo.stock}"
                                       class="layui-input" required value="{$vo.stock}" type="text">
                            </div>
                            <div class="layui-input-inline gg">
                                <input name="price[]" placeholder="价格" autocomplete="off" value="{$vo.price}"
                                       class="layui-input" required value="{$vo.price}" type="text">
                            </div>
                        </div>
                    </div>
                </volist>
                <div class="layui-form-item screen_box_t">
                    <label class="layui-form-label">规格</label>
                    <div class="layui-block">
                        <div class="layui-col-md2">
                            <img src="" id="img-upload-1" alt="" class="screen-img" required>
                            <input type="hidden" name="img[]" id="input-form-1">
                        </div>
                        <div class="layui-input-inline gg">
                            <input name="size[]" placeholder="例80*80-黄-风格" autocomplete="off"
                                   class="layui-input" required type="text">
                        </div>
                        <div class="layui-input-inline gg">
                            <input name="stock[]" placeholder="库存" autocomplete="off"
                                   class="layui-input" required type="text">
                        </div>
                        <div class="layui-input-inline gg">
                            <input name="price[]" placeholder="价格" autocomplete="off"
                                   class="layui-input" required type="text">
                        </div>
                    </div>
                </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-block">
                <div class="layui-col-md5">
                    <button class="layui-btn layui-btn-xs" id="add_screen">添加一条</button>
                    <button class="layui-btn layui-btn-xs" id="del_screen">删除一条</button>
                </div>

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">列表图</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" required id="lb-list">选择多文件</button>
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>预览</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="lb-detail">
                            <volist name="img" id="vo">
                                <eq name="vo.g_img_type" value="1">
                            <tr id="upload-{$key}">
                                <td>
                                    原图
                                </td>
                                <input type="hidden" name="lb-input[]" value="{$vo.g_img}" />
                                <td></td>
                                <td>已上传</td>
                                <td class="yl-'+index+'"><img src="{$vo.g_img}" alt="" width="80" height="80"></td>
                                <td>
                                    <button class="layui-btn layui-btn-mini layui-btn-danger delete-img" data-id="{$vo.id}">删除</button>
                                    </td>
                                </tr>
                                </eq>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="layui-btn" id="lb-start-btn">开始上传</button>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">展示图</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" required id="zs-list">选择多文件</button>
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>预览</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="zs-detail">
                            <volist name="img" id="vo">
                                <eq name="vo.g_img_type" value="2">
                                    <tr>
                                        <td>
                                            原图
                                        </td>
                                        <input type="hidden" name="zs-input[]" id="lsy-{$key}" value="{$vo.g_img}" />
                                        <td></td>
                                        <td>已上传</td>
                                        <td class="yl-'+index+'"><img src="{$vo.g_img}" alt="" width="80" height="80"></td>
                                        <td>
                                            <button class="layui-btn layui-btn-mini layui-btn-danger delete-img" data-id="{$vo.id}">删除</button>
                                        </td>
                                    </tr>
                                </eq>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="layui-btn" id="zs-start-btn">开始上传</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">服务选择</label>
            <div class="layui-input-block">
                <volist name="deploy" id="vo">
                    <input name="deploy[]" title="{$vo.name}" type="checkbox">

                </volist>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formEdit" id="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>


