<layout name="layout"/>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>合伙人红包
        <a href="javascript:;" class="layui-btn layui-btn-default layui-btn-small refresh"><i class="layui-icon">&#x1002;</i>刷新</a>
    </legend>
</fieldset>
<div class="layui-form layui-border-box layui-table-view" lay-filter="content-box" style="padding: 20px;border: 0;">
    <div class="layui-table-box">
        <table class="layui-table" style="width: 100%; border: 1px solid #eee">
            <colgroup>
                <col width="50">
                <col width="50">
            </colgroup>
            <thead>
            <tr>


                <th data-field="id">
                    <div class="layui-table-cell laytable-cell-1-id">
                        <span>ID</span>

                    </div>
                </th>
                <th data-field="name">
                    <div class="layui-table-cell">
                        <span>用户名称</span>
                    </div>
                </th>
                <th data-field="type">
                    <div class="layui-table-cell"><span>红包总金额</span></div>
                </th>

                <th data-field="createdTime">
                    <div class="layui-table-cell"><span>单个金额</span></div>
                </th>
                <th data-field="modifiedTime">
                    <div class="layui-table-cell"><span>红包个数</span></div>
                </th>
                <th data-field="11">
                    <div class="layui-table-cell" align="center"><span>红包寄语</span></div>
                </th>
                <th data-field="11">
                    <div class="layui-table-cell" align="center"><span>开始时间</span></div>
                </th>
                <th data-field="11">
                    <div class="layui-table-cell" align="center"><span>结束时间</span></div>
                </th>
            </tr>
            </thead>
            <tbody class="">
            <volist name="page" id="vo">
                <tr data-index="0" class="tbody_content" data-id="{$vo.id}">


                    <td>
                        <div class="layui-table-cell">{$vo.id}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.user_id}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.total}</div>
                    </td>

                    <td>
                        <div class="layui-table-cell">{$vo.solo}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.num}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.word}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.create_at}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.update_at}</div>
                    </td>

                </tr>
            </volist>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="13">{$page->render();}</td>
            </tr>
            </tfoot>
        </table>


</div>
</div>  