<layout name="layout" />
<div style="padding: 20px;">
    <form class="layui-form" method="POST" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">别墅名称</label>
            <div class="layui-input-inline">
                <input type="text" name="vd_name"  value="{$arr.vd_name}" lay-verify="required"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">一级分类</label>
            <div class="layui-input-inline">
                <select name="vd_class" lay-verify="required">

                    <option value="定制别墅">定制别墅</option>
                    <option value="标准别墅">标准别墅</option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">二级分类</label>
            <div class="layui-input-inline">
                <select name="vd_class_r" lay-verify="required">

                    <option value="家">家</option>
                    <option value="墅">墅</option>
                    <option value="堡">堡</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">单价</label>
            <div class="layui-input-inline">
                <input type="text" name="vd_unit_price"  value="{$arr.vd_unit_price}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">总价</label>
            <div class="layui-input-inline">
                <input type="text" name="vd_price" value="{$arr.vd_price}"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">建筑面积</label>
            <div class="layui-input-inline">
                <input type="text" name="vd_building_area" value="{$arr.vd_building_area}"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">占地面积</label>
            <div class="layui-input-inline">
                <input type="text" name="vd_covers_area" value="{$arr.vd_covers_area}"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">别墅层高</label>
            <div class="layui-input-inline">
                <input type="text" name="vd_height"  value="{$arr.vd_height}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">入户门</label>
            <div class="layui-input-inline">
                <input type="text" name="vd_door"  value="{$arr.vd_door}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">窗户</label>
            <div class="layui-input-inline">
                <input type="text" name="vd_windows"  value="{$arr.vd_windows}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">屋面瓦</label>
            <div class="layui-input-inline">
                <input type="text" name="vd_wmw"  value="{$arr.vd_wmw}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">外墙</label>
            <div class="layui-input-inline">
                <input type="text" name="vd_wq"   value="{$arr.vd_wq}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">室</label>
            <div class="layui-input-inline">
                <input type="text" name="room"  value="{$arr.room}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">厅</label>
            <div class="layui-input-inline">
                <input type="text" name="office"  value="{$arr.office}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">卫</label>
            <div class="layui-input-inline">
                <input type="text" name="wei"   value="{$arr.wei}"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">缩略图</label>
            <div class="layui-col-md2">
                <img src="{$arr.vd_logo}" id="img-upload-b" alt="" class="screen-img">
                <input type="hidden" name="vd_logo" id="input-form-b" >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">外观图：</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="wg-list">选择多文件</button>
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                            <tr><th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>预览</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="wg-detail">
                                <volist name="img" id="vo">
                                    <eq name="$vo.type" value="1">
                                        <tr>
                                            <td>
                                                原图
                                            </td>
                                            <input type="hidden" name="wg-input[]" id="lsy-{$key}" value="{$vo.img}" />
                                            <td></td>
                                            <td>已上传</td>
                                            <td class="yl-'+index+'"><img src="{$vo.img}" alt="" width="80" height="80"></td>
                                            <td>
                                                <button class="layui-btn layui-btn-mini layui-btn-danger delete-img" data-id="{$vo.id}">删除</button>
                                            </td>
                                        </tr>
                                    </eq>
                                </volist>
                            </tbody>
                        </table>

                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="layui-btn" id="wg-start-btn">开始上传</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">室内图：</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="sn-list">选择多文件</button>
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                            <tr><th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>预览</th>
                                <th>操作</th>
                            </tr></thead>
                            <tbody id="sn-detail">
                            <volist name="img" id="vo">
                                <eq name="$vo.type" value="2">
                                    <tr>
                                        <td>
                                            原图
                                        </td>
                                        <input type="hidden" name="sn-input[]"  value="{$vo.img}" />
                                        <td></td>
                                        <td>已上传</td>
                                        <td class="yl-'+index+'"><img src="{$vo.img}" alt="" width="80" height="80"></td>
                                        <td>
                                            <button class="layui-btn layui-btn-mini layui-btn-danger delete-img" data-id="{$vo.id}">删除</button>
                                        </td>
                                    </tr>
                                </eq>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="layui-btn" id="sn-start-btn">开始上传</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">细节图：</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="xj-list">选择多文件</button>
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                            <tr><th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>预览</th>
                                <th>操作</th>
                            </tr></thead>
                            <tbody id="xj-detail">
                            <volist name="img" id="vo">
                                <eq name="$vo.type" value="3">
                                    <tr>
                                        <td>
                                            原图
                                        </td>
                                        <input type="hidden" name="xj-input[]"  value="{$vo.img}" />
                                        <td></td>
                                        <td>已上传</td>
                                        <td class="yl-'+index+'"><img src="{$vo.img}" alt="" width="80" height="80"></td>
                                        <td>
                                            <button class="layui-btn layui-btn-mini layui-btn-danger delete-img" data-id="{$vo.id}">删除</button>
                                        </td>
                                    </tr>
                                </eq>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="layui-btn" id="xj-start-btn">开始上传</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">结构图：</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="jg-list">选择多文件</button>
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                            <tr><th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>预览</th>
                                <th>操作</th>
                            </tr></thead>
                            <tbody id="jg-detail">
                            <volist name="img" id="vo">
                                <eq name="$vo.type" value="4">
                                    <tr>
                                        <td>
                                            原图
                                        </td>
                                        <input type="hidden" name="jg-input[]"  value="{$vo.img}" />
                                        <td></td>
                                        <td>已上传</td>
                                        <td class="yl-'+index+'"><img src="{$vo.img}" alt="" width="80" height="80"></td>
                                        <td>
                                            <button class="layui-btn layui-btn-mini layui-btn-danger delete-img" data-id="{$vo.id}">删除</button>
                                        </td>
                                    </tr>
                                </eq>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="layui-btn" id="jg-start-btn">开始上传</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">面积图：</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="mj-list">选择多文件</button>
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                            <tr><th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>预览</th>
                                <th>操作</th>
                            </tr></thead>
                            <tbody id="mj-detail">
                            <volist name="img" id="vo">
                                <eq name="$vo.type" value="5">
                                    <tr>
                                        <td>
                                            原图
                                        </td>
                                        <input type="hidden" name="mj-input[]"  value="{$vo.img}" />
                                        <td></td>
                                        <td>已上传</td>
                                        <td class="yl-'+index+'"><img src="{$vo.img}" alt="" width="80" height="80"></td>
                                        <td>
                                            <button class="layui-btn layui-btn-mini layui-btn-danger delete-img" data-id="{$vo.id}">删除</button>
                                        </td>
                                    </tr>
                                </eq>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="layui-btn" id="mj-start-btn">开始上传</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" id="submit">立即修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>
