<layout name="layout" />


<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">定荣家后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">

                    <img src="{$User.am_logo}" class="layui-nav-img">
                    {$User.am_nickname}


            </li>

            <li class="layui-nav-item"><a href="{:url('admin/Member/goOut')}">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <volist name="menu" id="vo">
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">{$vo.ad_topic}</a>
                        <dl class="layui-nav-child lsy-col-offset2" style="text-align: center;">
                            <volist name="vo.data" id="v">
                                <dd><a href="javascript:;" href-url="{$v.ad_url}">{$v.ad_topic}</a></dd>
                            </volist>
                        </dl>
                    </li>
                </volist>
            </ul>
        </div>
    </div>

    <div class="layui-body my-body">
        <div class="layui-tab layui-tab-card my-tab" lay-filter="card" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="1"><span><i class="layui-icon">&#xe68e;</i>首页</span></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe id="iframe" src="{:url('index/welcome')}" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 至善至美
    </div>

    <!--聊天-->
    <div id="chat-default" class="" style="display: none">
        <p class="chat-prompt"> 
            <span class="d-logo"><img src="{$User.am_logo}" alt=""></span>
            {$User.am_nickname} IM
            <i class="layui-icon success-color" >&#xe60c;</i>
        </p>
    </div>

    <div id="chat-dialog" class="display-none">

    </div>


    <div id="chat-detail" class=" layui-row  display-none">
        <div style="text-align: right;padding:5px 10px 2px 10px;">
            <a href="javascript:;">
                <i class="layui-icon" style="font-size:14px;">&#xe61a;</i></a>
            <a href="javascript:;">
            <i class="layui-icon">&#x1006;</i>
            </a>

        </div>

        <div class="detail-content">
            <div class="d-c-l layui-col-md3 layui-col-xs3">
                <ul>
                    <li class="d-c-l-list">
                        <div class="chat-c-detail-logo">
                            <img src="http://t.cn/RCzsdCq" alt="">
                        </div>
                        <div class="chat-c-detail-info">
                            <p class="u-nickname">我是老大</p>
                            <p class="u-xiaoxi">我是老大</p>
                        </div>
                    </li>
                    <li class="d-c-l-list">
                        <div class="chat-c-detail-logo">
                            <img src="http://t.cn/RCzsdCq" alt="">
                        </div>
                        <div class="chat-c-detail-info">
                            <p class="u-nickname">我是老大</p>
                            <p class="u-xiaoxi">我是老大</p>
                        </div>
                    </li>
                    <li class="d-c-l-list">
                        <div class="chat-c-detail-logo">
                            <img src="http://t.cn/RCzsdCq" alt="">
                        </div>
                        <div class="chat-c-detail-info">
                            <p class="u-nickname">我是老大</p>
                            <p class="u-xiaoxi">我是老大</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-c-r layui-col-md9 layui-col-xs9" style="display: none">
                <div class="d-c-r-top">

                </div>
                <div class="d-c-r-bottom">
                    <textarea name="content" id="content" cols="0" rows="0"></textarea>
                    <span class="wxts">和谐聊天..文明发言</span>
                    <button class="layui-btn layui-btn-sm  layui-btn-normal submit-btn-b">
                        发送信息
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="__JS__/{$mName}/chat_page.js"></script>
</div><if condition="($aName == 'doadd') OR ($aName == 'doedit')">
    <script type="text/javascript" src="__STATIC__/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" src="__STATIC__/ueditor/1.4.3/ueditor.all.min.js"></script>
    <script type="text/javascript" src="__STATIC__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="__STATIC__/qiniu/dist/qiniu.min.js"></script>
    <script src="__JS__/{$mName}/wangEditor/release/wangEditor.js"></script>

</if>
<script src="__JS__/{$mName}/{$cName}/{$aName}.js?v={:time()}"></script>


<if condition="($cName == 'Index') ">
    <script type="text/javascript" src="__JS__/{$mName}/chat.js"></script>
    <script type="text/javascript" src="__JS__/jquery-3.2.1.min.js"></script>
</if>
</body>
</html>