<layout name="layout"/>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>订单列表
        <a href="{:url('user/leadingin')}" class="layui-btn layui-btn-danger layui-btn-small">批量导入</a>
        <a href="{:url('user/expuser')}" class="layui-btn layui-btn-warm layui-btn-small">批量导出</a>
        <a href="javascript:;" class="layui-btn layui-btn-default layui-btn-small refresh"><i class="layui-icon">&#x1002;</i>刷新</a>
    </legend>
</fieldset>
<div class="layui-form layui-border-box layui-table-view" lay-filter="content-box" style="padding: 20px;border: 0;">
    <div class="layui-table-box">
        <table class="layui-table" style="width: 100%; border: 1px solid #eee">
            <colgroup>
                <col width="50">
                <col width="50">
            </colgroup>
            <thead>
            <tr>
                <th data-field="0">
                    <div class="layui-table-cell laytable-cell-1-0 laytable-cell-numbers">
                        <span>#</span>
                    </div>
                </th>

                <th data-field="id">
                    <div class="layui-table-cell laytable-cell-1-id">
                        <span>ID</span>

                    </div>
                </th>
                <th data-field="name">
                    <div class="layui-table-cell">
                        <span>用户名称</span>
                    </div>
                </th>
                <th data-field="type">
                    <div class="layui-table-cell"><span>产品价格</span></div>
                </th>
                <th data-field="type">
                    <div class="layui-table-cell"><span>产品名称</span></div>
                </th>
                <th data-field="type">
                    <div class="layui-table-cell"><span>产品规格</span></div>
                </th>
                <th data-field="modifiedTime">
                    <div class="layui-table-cell"><span>产品数量</span></div>
                </th>
                <th data-field="modifiedTime">
                    <div class="layui-table-cell"><span>收货地址</span></div>
                </th>

                <th data-field="modifiedTime">
                    <div class="layui-table-cell"><span>支付方式</span></div>
                </th>
                <th data-field="modifiedTime">
                    <div class="layui-table-cell"><span>物流状态</span></div>
                </th>
                <th data-field="createdTime">
                    <div class="layui-table-cell"><span>运单号</span></div>
                </th>
                <th data-field="createdTime">
                    <div class="layui-table-cell"><span>收货状态</span></div>
                </th>
                <th data-field="createdTime">
                    <div class="layui-table-cell"><span>创建时间</span></div>
                </th>
                <th data-field="modifiedTime">
                    <div class="layui-table-cell"><span>修改时间</span></div>
                </th>
                <th data-field="modifiedTime">
                    <div class="layui-table-cell"><span>操作</span></div>
                </th>

            </tr>
            </thead>
            <tbody class="">
            <volist name="page" id="vo">
                <tr data-index="0" class="tbody_content" data-id="{$vo.id}">
                    <td >
                        <div class="layui-table-cell">{$key}</div>
                    </td>

                    <td>
                        <div class="layui-table-cell">{$vo.id}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.uid}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.g_money_all}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.g_name}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.g_type}</div>
                    </td>

                    <td>
                        <div class="layui-table-cell">{$vo.g_number}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.u_address}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.pay}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.status}</div>
                    </td>
                    <if condition="$vo.logistics eq null">

                        <td>
                                <a class="layui-btn layui-btn-xs find-ali-status" pay-type="" name="">填写运单号</a>
                        </td>
                        <else>
                    <td>
                        <div class="layui-table-cell">{$vo.logistics}</div>
                    </td>
                        </else>
                    </if>
                    <if condition="$vo.is_receive eq 1">
                    <td>

                        <div class="layui-table-cell">已收货</div>
                    </td>
                        <else>
                            <td>

                                <div class="layui-table-cell">未收货</div>
                            </td>
                    </if>

                    <td>
                        <div class="layui-table-cell">{$vo.create_at}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.update_at}</div>
                    </td>
                    <td class="layui-table-cell">

                            <a class="layui-btn layui-btn-xs find-ali-status" pay-type="" name="">填写发货信息</a>

                    </td>
                </tr>
            </volist>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="13">{$page->render();}</td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>
</div>
</div>