<layout name="layout"/>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>提问列表

        <a href="javascript:;" class="layui-btn layui-btn-default layui-btn-small refresh"><i class="layui-icon">&#x1002;</i>刷新</a>
    </legend>
</fieldset>
<div class="layui-form layui-border-box layui-table-view" lay-filter="content-box" style="padding: 20px;border: 0;">
    <div class="layui-table-box">
        <table class="layui-table" style="width: 100%; border: 1px solid #eee">
            <colgroup>
                <col width="50">
                <col width="50">
            </colgroup>
            <thead>
            <tr>
                <th data-field="0">
                    <div class="layui-table-cell laytable-cell-1-0 laytable-cell-numbers">
                        <span>#</span>
                    </div>
                </th>


                <th data-field="name">
                    <div class="layui-table-cell">
                        <span>用户名称</span>
                    </div>
                </th>
                <th data-field="type">
                    <div class="layui-table-cell"><span>提问内容</span></div>
                </th>
                <th data-field="type">
                    <div class="layui-table-cell"><span>提问类型</span></div>
                </th>
                <th data-field="createdTime">
                    <div class="layui-table-cell"><span>创建时间</span></div>
                </th>

                <th data-field="11">
                    <div class="layui-table-cell" align="center"><span>操作</span></div>
                </th>
            </tr>
            </thead>
            <tbody class="">
            <volist name="page" id="vo">
                <tr data-index="0" class="tbody_content" data-id="{$vo.id}">
                    <td >
                        <div class="layui-table-cell">{$key}</div>
                    </td>


                    <td>
                        <div class="layui-table-cell">{$vo.uid}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.content}</div>
                    </td>
                    <eq name="$vo.type" value="1">
                        <td>
                        <div class="layui-table-cell">咨询</div>
                        </td>
                    </eq>
                    <eq name="$vo.type" value="2">
                        <td>
                        <div class="layui-table-cell">建议</div>
                        </td>
                    </eq>
                    <eq name="$vo.type" value="3">
                        <td>
                        <div class="layui-table-cell">投诉</div>
                        </td>
                    </eq>
                    <eq name="$vo.type" value="4">
                    <td>
                        <div class="layui-table-cell">其他</div>
                    </td>
                    </eq>
                    <td>
                        <div class="layui-table-cell">{$vo.create_at|date='Y-m-d H:i:m',###}</div>
                    </td>

                    <td>
                        <div class="layui-table-cell">
                            <a class="layui-btn layui-btn-xs edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs do_del">删除</a>

                        </div>
                    </td>
                </tr>
            </volist>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="13">{$page->render();}</td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>
</div>
</div>  