<layout name="layout" />
<div style="padding: 20px;">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-inline">
                <input type="text" name="g_name"  lay-verify="required" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属大类</label>
            <div class="layui-input-inline">
                <select name="g_class" lay-verify="required">
                    <volist name="sortList" id="vo">
                        <option value="{$vo.ps_id}">{$vo.ps_name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属小类</label>
            <div class="layui-input-inline">
                <select name="g_class_r" lay-verify="required">
                    <volist name="sortList" id="vo">
                        <option value="{$vo.ps_id}">{$vo.ps_name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-inline">
                <input type="text" name="g_place"  placeholder="请输入替换内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">折后价格</label>
            <div class="layui-input-inline">
                <input type="text" name="g_place"  placeholder="请输入替换内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品风格</label>
            <div class="layui-input-inline">
                <input type="text" name="g_style"  placeholder="请输入替换内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品材质</label>
            <div class="layui-input-inline">
                <input type="text" name="g_material"  placeholder="请输入替换内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品尺寸</label>
            <div class="layui-input-inline">
                <input type="text" name="g_size"  placeholder="请输入替换内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" id="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>