<layout name="layout" />
<div style="padding: 20px;">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">敏感词内容</label>
            <div class="layui-input-inline">
                <input type="text" name="text" value="{$data.pd_text}"  lay-verify="required" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">等级</label>
            <div class="layui-input-inline">
                <select name="pid" lay-verify="required">
                    <volist name="sortList" id="vo">
                        <option value="{$vo.ps_id}" <eq name="vo.ps_id" value="$data.pd_sort_id">selected</eq>>{$vo.ps_name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">替换内容</label>
            <div class="layui-input-inline">
                <input type="text" name="replace" value="{$data.pd_replace}"  placeholder="请输入替换内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="启用" <eq name="data.pd_status" value="1">checked</eq>>
                <input type="radio" name="status" value="2" title="停用" <eq name="data.pd_status" value="2">checked</eq>>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formEdit" id="submit">立即提交</button>
                <input type="hidden" name="id" value="{$data.pd_id}">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>