<layout name="layout" />
<div style="padding: 20px;">
    <form class="layui-form" method="post" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">售后类型</label>
            <div class="layui-input-inline">
                <select name="type" id="culm"  lay-filter="sort">
                    <option value="1">别墅</option>
                    <option value="2">建材</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">售后名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="required" class="layui-input" value="{$data.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-col-md2">
                <img src="{$data.img}" id="img-upload-1" alt="" class="screen-img" required>
                <input type="hidden" name="img" id="input-form-1">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">

                <button class="layui-btn" lay-submit lay-filter="formDemo" id="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>