<layout name="layout" />
<div style="padding: 20px;">
    <form class="layui-form" action="{:url('admin/Member/doAdd')}">
        <div class="layui-form-item">
            <label class="layui-form-label">行为名称</label>
            <div class="layui-input-inline">
                <input type="text" name="title" value="{$data.title}"  lay-verify="required" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">行为url</label>
            <div class="layui-input-inline">
                <input type="text" name="url" value="{$data.url}"  lay-verify="required" placeholder="请输入url" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片：</label>
            <div class="layui-col-md3">
                <div id="container">
                    <button id="pickfiles" class="layui-btn layui-btn-normal">上传</button>
                </div>
                <img src="{$data.img}"  id="yl_logo"/>
                <input type="hidden" name="img" id="logo_img">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择模块：</label>
            <div class="layui-input-inline">
                <select name="sort" lay-verify="" lay-filter="service">
                    <option value="0">首页</option>
                    <volist name="sort" id="vo">
                        <option value="{$vo.id}" <eq name="data.sort" value="$vo.id">selected</eq> >{$vo.name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-col-md3">
                <input type="text" id="start_time" name="start_time" value="{$data.start_time}" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-col-md3">
                <input type="text" id="over_time" name="over_time"  value="{$data.over_time}"  lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="启用" checked>
                <input type="radio" name="status" value="2" title="停用">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">顺序</label>
            <div class="layui-col-md1">
                <input type="number" name="order"  lay-verify="required" value="{$data.order}"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formEdit">立即提交</button>
                <input type="hidden" name="id" value="{$data.id}">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>