<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>定荣家_下载页面</title>
</head>
<body>
    <div class="container" style="text-align: center;padding: 30% 0 0 0;">
        <img width="60%" src="__STATIC__/192.png" alt="">
        <p style="margin: 30px 0 0 0;font-size: 36px;">请使用浏览器打开下载。</p>
        <button style="margin: 30px 0 0 0;width: 40%;height: 100px;line-height: 100px;background-color: #e84040;border: 0;"><a style="text-decoration: none;font-size: 36px;color: #fff;" href="http://www.61drhome.cn/static/dingrongstore-release.apk">点击下载</a></button>
    </div>
</body>
</html>