<layout name="layout"/>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询结果

    </legend>
</fieldset>

<div class="layui-form layui-border-box layui-table-view" lay-filter="content-box" style="padding: 20px;border: 0;">
    <div class="layui-table-box">
        <table class="layui-table" style="width: 100%; border: 1px solid #eee">
            <colgroup>
                <col width="50">
                <col width="50">
            </colgroup>
            <thead>
            <tr>


                <th data-field="id">
                    <div class="layui-table-cell laytable-cell-1-id">
                        <span>ID</span>

                    </div>
                </th>
                <th data-field="name">
                    <div class="layui-table-cell laytable-cell-1-name">
                        <span>用户名</span>
                        <span class="layui-table-sort layui-inline">
                    </span>
                    </div>
                </th>
                <th data-field="type">
                    <div class="layui-table-cell"><span>手机号</span></div>
                </th>
                <th data-field="city">
                    <div class="layui-table-cell"><span>头像</span></div>
                </th>
                <th data-field="sex">
                    <div class="layui-table-cell"><span>性别</span></div>
                </th>


                <th data-field="createdTime">
                    <div class="layui-table-cell"><span>注册时间</span></div>
                </th>

                <th data-field="modifiedTime">
                    <div class="layui-table-cell"><span>操作</span></div>
                </th>

            </tr>
            </thead>
            <tbody class="">

                <tr data-index="0" class="tbody_content" data-id="{$page.ud_id}">

                    <td>
                        <div class="layui-table-cell">{$page.ud_id}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$page.ud_name}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$page.ud_phone}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell" style="height:55px;">
                            <img src="{$page.ud_logo}?imageView2/1/w/50/h/50" alt="">
                        </div>
                    </td>
                    <if condition="$page['ud_sex'] eq 1">
                        <td>
                            <div class="layui-table-cell">男</div>
                        </td>
                        <elseif condition="$page['ud_sex'] eq 2">
                            <td>
                                <div class="layui-table-cell">女</div>
                            </td>
                        </elseif>
                        <else>
                            <td>
                                <div class="layui-table-cell">保密</div>
                            </td>
                        </else>

                    </if>
                    <td>
                        <div class="layui-table-cell">{$page.create_at|date='Y-m-d,H:i:m',###}</div>
                    </td>

                    <td>
                        <div class="layui-table-cell">
                            <input type="hidden" id="id" value="{$page.ud_id}">
                            <eq name="page.status" value="1">
                                <a class="layui-btn layui-btn-xs layui-btn-danger forbidden " data-id="{$page.ud_id}">禁用</a>
                            </eq>
                            <eq name="page.status" value="2">
                                <a class="layui-btn layui-btn-xs layui-btn-danger forbiddenr " data-id="{$page.ud_id}">取消禁用</a>
                            </eq>
                            <input type="hidden" name="id" value="{$page.ud_id}">
                            <a class="layui-btn layui-btn-xs layui-btn-normal getUserAddress" name="{$page.ud_name}">详情</a>


                        </div>
                    </td>

                </tr>

            </tbody>

        </table>

    </div>
</div>
</div>
</div>