<layout name="layout"/>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>别墅订单
        <a href="javascript:;" class="layui-btn layui-btn-default layui-btn-small refresh"><i class="layui-icon">&#x1002;</i>刷新</a>
    </legend>
</fieldset>
<div class="layui-form layui-border-box layui-table-view" lay-filter="content-box" style="padding: 20px;border: 0;">
    <div class="layui-table-box">
        <table class="layui-table" style="width: 100%; border: 1px solid #eee">
            <colgroup>
                <col width="50">
                <col width="50">
            </colgroup>
            <thead>
            <tr>
                <th data-field="0">
                    <div class="layui-table-cell laytable-cell-1-0 laytable-cell-numbers">
                        <span>#</span>
                    </div>
                </th>
                <th data-field="1" data-unresize="true">
                    <div class="layui-table-cell laytable-cell-1-1 laytable-cell-checkbox">
                        <input name="layTableCheckbox" lay-skin="primary" lay-filter="layTableAllChoose" type="checkbox">
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                            <i class="layui-icon"></i>
                        </div>
                    </div>
                </th>
                <th data-field="id">
                    <div class="layui-table-cell laytable-cell-1-id">
                        <span>ID</span>
                        <span class="layui-table-sort layui-inline">
                            <i class="layui-edge layui-table-sort-asc"></i><i
                                class="layui-edge layui-table-sort-desc"></i>
                        </span>
                    </div>
                </th>
                <th data-field="name">
                    <div class="layui-table-cell">
                        <span>订单编号</span>
                    </div>
                </th>
                <th data-field="type">
                    <div class="layui-table-cell"><span>客户名称</span></div>
                </th>
                <th data-field="type">
                    <div class="layui-table-cell"><span>客户手机号</span></div>
                </th>
                <th data-field="type">
                    <div class="layui-table-cell"><span>客户住址</span></div>
                </th>

                <th data-field="createdTime">
                    <div class="layui-table-cell"><span>合伙人名称</span></div>
                </th>
                <th data-field="createdTime">
                    <div class="layui-table-cell"><span>合伙人手机号</span></div>
                </th>
                <th data-field="modifiedTime">
                    <div class="layui-table-cell"><span>别墅类型</span></div>
                </th>
                <th data-field="modifiedTime">
                   <div class="layui-table-cell"><span>证书照片</span></div>
                </th>
                <th data-field="modifiedTime">
                    <div class="layui-table-cell"><span>别墅照片</span></div>
                </th>
                <th data-field="modifiedTime">
                    <div class="layui-table-cell"><span>施工状态</span></div>
                </th>
                <th data-field="11">
                    <div class="layui-table-cell" align="center"><span>操作</span></div>
                </th>
            </tr>
            </thead>
            <tbody class="">
            <volist name="page" id="vo">
                <tr data-index="0" class="tbody_content" data-id="{$vo.id}">
                    <td >
                        <div class="layui-table-cell">{$key}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">
                            <input name="layTableCheckbox" class="" lay-skin="primary" value="1" type="checkbox">
                            <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                                <i class="layui-icon"></i>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.id}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.order_id}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.user_id}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.user_phone}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.address}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.partner_id}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell">{$vo.par_phone}</div>
                    </td>

                    <td>
                        <div class="layui-table-cell">{$vo.villa_type==1?'标准别墅':'定制别墅'}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell"><img src="{$vo.contract}?imageView2/1/w/50/h/50"></div>
                    </td>
                    <td>
                        <div class="layui-table-cell"><img src="{$vo.villa_img}?imageView2/1/w/50/h/50"></div>
                    </td>

                    <td>
                        <eq name="vo.status" value="1">
                        <div class="layui-table-cell">签订合同</div>
                        </eq>
                        <eq name="vo.status" value="2">
                            <div class="layui-table-cell">施工中</div>
                        </eq>
                        <eq name="vo.status" value="3">
                            <div class="layui-table-cell">已完工</div>
                        </eq>
                    </td>



                    <td>
                        <div class="layui-table-cell">

                            <a class="layui-btn layui-btn-danger layui-btn-xs do_del">删除</a>


                        </div>
                    </td>
                </tr>
            </volist>
            </tbody>

        </table>

    </div>
</div>
</div>
</div>