<layout name="layout" />
<div class='layui-row' style="padding: 20px;">
    <form class="layui-form" method="post" style="padding:0 0 25px 50px; " enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">标题：</label>
            <div class="layui-col-md3">
                <input type="text" name="title" lay-verify="required" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">顺序：</label>
            <div class="layui-col-md1">
                <input type="number" name="order" value="99" lay-verify="required"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="height:700px">
            <label class="layui-form-label">内容：</label>
            <div class="layui-input-block">
                <textarea id="editor_id" class="new-content" name="content">

                </textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>