<layout name="layout" />
<div style="padding: 20px;">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" value="{$data.am_phone}" lay-verify="required|phone" placeholder="请输入标题" class="layui-input">
            </div>
            <div class="layui-form-mid " style="color:#f60">* 手机号将作为登录用</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-inline">
                <input type="text" name="nickname" value="{$data.am_nickname}" lay-verify="required" placeholder="请输入昵称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" value="{$data.am_email}" required  lay-verify="required|email" placeholder="请输入邮箱" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="启用" <eq name="data.am_status" value="1">checked</eq> >
                <input type="radio" name="status" value="2" title="停用" <eq name="data.am_status" value="2">checked</eq> >
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">所属角色</label>
            <div class="layui-input-block">
                <volist name="dutyList" id="vo">
                    <input type="checkbox" name="duty[]" value="{$vo.dd_id}" title="{$vo.dd_name}" lay-skin="primary" <in name="vo.dd_id" value="$data.admin_duty_s">checked</in> />
                </volist>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formEdit" id="submit">立即提交</button>
                <input type="hidden" name="id" value="{$data.am_id}">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>