<layout name="layout"/>
<div style="padding: 20px;">
    <form class="layui-form" method="post" enctype=multipart/form-data>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="g_name" lay-verify="required" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <input type="text" name="g_price" lay-verify="required" placeholder="请输入替换内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="text" name="g_price_r" lay-verify="required" placeholder="请输入替换内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">省</label>
            <div class="layui-input-inline">
                <input type="text" name="g_material"lay-verify="required"  placeholder="请输入替换内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">市</label>
            <div class="layui-input-inline">
                <input type="text" name="g_price" lay-verify="required" placeholder="请输入替换内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">县</label>
            <div class="layui-input-inline">
                <input type="text" name="g_price" lay-verify="required" placeholder="请输入替换内容" class="layui-input">
            </div>



        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">镇</label>
            <div class="layui-input-inline">
                <input type="text" name="g_price" lay-verify="required" placeholder="请输入替换内容" class="layui-input">
            </div>



        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">其他</label>
            <div class="layui-col-md2">
                <img src="" id="img-upload-b" alt="" class="screen-img" required>
                <input type="hidden" name="g_img" id="input-form-b">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" id="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>


